/* @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');
html{
    font-family: 'Nunito', sans-serif;
}
img{
    border-radius: 20px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
}
.project{
    border: 2px solid grey;
    border-radius: 5px;
}